@import "tailwindcss";


:root {
  --background: #17161a;   /* force dark */
  --foreground: #ededed;   /* force light text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: "JetBrains Mono", monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0% {
    border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%;
    transform: translate(0px, 0px);
  }
  33% {
    border-radius: 50% 30% 70% 50% / 60% 50% 30% 60%;
    transform: translate(15px, -15px);
  }
  66% {
    border-radius: 30% 50% 50% 70% / 40% 60% 50% 50%;
    transform: translate(-15px, 15px);
  }
  100% {
    border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%;
    transform: translate(0px, 0px);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.text-gradient {
  background: linear-gradient(to right, #c971ef,  #ba319c, #af3a14 );
  background-clip: text;            
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent; 
  color: transparent;            
}

/* for card rotation */
.slide-away {
  transform: translateX(140%) rotate(6deg);
  opacity: 0;
}